doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/styles.css')
    title Web workers
  body
    .container
      header.header
        h1.header__title urlParser.js
      main.content
        article.browser
          .input-group
            input.form-control.browser__address-bar-js(type='text', placeholder='Enter url here...')
            .input-group-btn
              button.browser__goto-url-btn.btn.btn-secondary.browser__goto-url-btn-js(id='type="button"') >
          .browser__window
            .spinner-wrapper
              .spinner
            iframe.browser__window-js(framborder=0, src="")
    script(src='js/main.js')
